@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App {
  /* text-align: center; */
  font-family: 'Poppins', sans-serif;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*Parallax Effect*/
.jumbotron {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);

  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jumbotron img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.875rem 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header .logo strong {
  font-weight: 900;
  font-size: 2rem;
  color: #fef77b;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: cneter;

}

.header ul li {
  list-style: none;
  margin-left: 1.25rem;
}

.header ul li a {
  text-decoration: none;
  padding: 0.375rem 0.9375rem;
  color: #fff;
  border-radius: 22px;
  transition: all 0.7s ease;
}

.header ul li a:hover {
  background: #fff;
  color: #2b1055;
  border-radius: 5px;
} 

.header ul li a.active {
  background: #fff;
  color: #2b1055;
  border-radius: 22px;
}

.header ul li a.active:hover {
  border-radius: 5px;
  background: #fef77b;
}

#section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

.section {
  position: relative;
  width: 100%;
  height: 150vh;
  /* padding: 100px; */
}

.section h1 {
  padding-top: 400px;
  font-size: 7rem;
  color: #fff;
}

.section h1 strong {
  color: #fef77b;
}

.section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
  object-fit: cover;
  pointer-events: none;
}

.section img#moon {
  mix-blend-mode: screen;

}

.section img#mountains_front {
  z-index: 111;
}

.section#text {
  position: absolute;
  white-space: nowrap;
  /* font-size: 7.5 vw;
  font-size: 1.5em; */
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: block;
  max-width: 9rem;
  margin: auto;
  transform: translateY(4rem);
  text-align: center;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 10000;
}

.description {
  position:relative;
  padding: 25rem 10rem;
  width: 100%;
  background: #1c0522;
}

.description h2 {
  font-size: 3.5rem;
  margin-bottom: 0.6rem;
  color: #fff;
  /* padding: 25rem 10rem; */
}

.description p {
  margin-top: 2rem;
  font-size: 2rem;
  color: #fff;
  line-height: 4rem;
  /* padding: 25rem 10rem; */
}

.description strong {
  color: #fef77b;
}

.description p {
  transform: translateY(100rem);
}

#description::before {
  content: '';
  position: absolute;
  left:0;
  padding: 0;
  bottom: 0;
  width: 100%;
  height: 9rem;
  background: linear-gradient(to top, #635168, #1c0522);
  z-index: 1000;
}


.gallery {
  position:relative;
  padding: 100px;
  padding: 25rem 10rem;
  width: 100%;
  background: #635168;
}


.gallery h2 {
  font-size: 3.5rem;
  margin-bottom: 0.6rem;
  color: #fff;
}

.gallery p {
  margin-top: 2rem;
  font-size: 2rem;
  color: #fff;
  line-height: 4rem;
}

.gallery h3 {
  margin-top: 2rem;
  font-size: 2rem;
  color: #fff;
  line-height: 4rem;
}

.gallery .projects {
  transform: translateY(200rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.gallery .project {
  margin: 0 auto;
  margin-bottom: 7rem;
  border-radius: 15px;
}

.gallery .project-title {
  font-weight: 700;
  text-transform: lowercase;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.gallery .project-text, 
.gallery .project-github, .gallery 
.project-link {
  font-size: 1rem;
  max-width: 60%;
  line-height: normal;
}

.gallery .project-img {
  max-width: 60%;
  border-radius: 15px;
  height: auto;
  transition: all 0.8 ease;
}

.gallery .project-img:hover {
  opacity: 0.8;
}

.gallery a {
  text-decoration: none;
  color: #fef77b;
  font-weight: 700;
  transition: all 0.5s ease;
}

.gallery a:hover {
  text-decoration: none;
  font-size: larger;
  color: #faf5a1;
  font-weight: 700;
}

#gallery::before {
  content: '';
  position: absolute;
  left:0;
  padding: 0;
  bottom: 0;
  width: 100%;
  height: 9rem;
  background: linear-gradient(to top, #fff,#635168);
  z-index: 3;
}

.contact {
  min-height: 90vh;
}

.contact h2 {
  padding-top: 50vh;
  padding-left: 28.1vw;
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.contact ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 50vh 20%;
  padding-top:0;
}

.contact ul li a {
  text-decoration: none;
  color: black;
  transition: all 0.4s ease;
}

.contact ul li a:hover {
  font-weight: 900;
  color: #a98fd3;
  font-size: 4rem;
}

.resume {
  height: 200vh;
  width: 100%;
  background-color: #6962d3;
}

iframe {
  position: relative;
  border-radius: 20px;
  height: 100vh;
  width: 80%;
  top: 10rem;
  bottom: 10rem;
  left: 10rem;
  border: none;

}

.resume-container {
  padding-top: 10rem;
  background-color: #6962d3;
}

.resume h2 {
  position: relative;
  top: 17rem;
  left: 10rem;
  color: #fff;
}
  
.mobile-enabled {
  display: none;
}


@media only screen and (max-width: 600px) {
  .section h1 {
    padding-top: 31.375rem;
    font-size: 2.5rem;
    margin-bottom: 15rem;
    color: #fff;
  }

  #btn {
    position: absolute;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    left: 40vw;
    bottom: 13rem;
  }

  .header {
    width: 100%;
    padding: 1rem 2rem;
}

  .header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header .logo strong {
  font-size: 1rem;
}

.header ul {
  flex-wrap: wrap;
}

.header ul li {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  min-width: 0;
}

.header ul li a {
  padding: 0.1rem 0.2rem;
}

.description {
  position: relative;
  padding: 30rem 5rem;
  width: 100%;
  background: #1c0522;
}

.description h2 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
  color: #fff;
  /* padding: 25rem 10rem; */
}

.description p {
  margin-top: 0;
  font-size: 1rem;
  color: #fff;
  line-height: 3rem;
  /* padding: 25rem 10rem; */
}

.gallery {
  position: relative;
  padding: 30rem 5rem;
  width: 100%;
}

.gallery h2 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
  color: #fff;
}

.gallery .project {
  margin: 0 auto;
  width: 120%;
  margin-bottom: 8rem;
  border-radius: 15px;
}

.gallery .project-title {
  font-weight: 700;
  text-transform: lowercase;
  margin-bottom: 1.8rem;
  font-size: 1rem;
}

.gallery .project-img {
  max-width: 90%;
  border-radius: 15px;
  height: auto;
  transition: all 0.8 ease;
}

.gallery .project-text, .gallery .project-github, .gallery .project-link {
  font-size: 1rem;
  max-width: 90%;
  line-height: normal;
}

p.project-link {
  margin-top: 1rem;
  font-weight: 400;
}

iframe {
  display: none;
}

.mobile-enabled {
  display: block;
}

.mobile-enabled {
  display: block;
  position: relative;
  top: 10rem;
  left: 10rem;
}

p.mobile-enabled {
  color:#fff;
  font-weight: 500;
}

a.mobile-enabled {
  color:#faf5a1
}

}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .section h1 {
    padding-top: 50.375rem;
    font-size: 5rem;
    margin-bottom: 7rem;
    color: #fff;
  }

  #btn {
    position: absolute;
    left: 40vw;
    bottom: 20rem;
  }

  .header {
    width: 100%;
    padding: 1rem 2rem;
}

  .header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    padding-left: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header .logo strong {
  font-size: 2.5rem;
}

.header ul {
  flex-wrap: wrap;
}

.header ul li {
  margin-left: 0.1rem;
  margin-bottom: 0.8rem;
  min-width: 0;
}

.header ul li a {
  padding: 0.4rem 0.8rem;
}

.description {
  position: relative;
  padding: 37rem 5rem;
  width: 100%;
  background: #1c0522;
}

.description h2 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #fff;
  /* padding: 25rem 10rem; */
}

.description p {
  margin-top: 0;
  font-size: 1.725rem;
  color: #fff;
  line-height: 3rem;
  /* padding: 25rem 10rem; */
}

.gallery {
  position: relative;
  padding: 23rem 5rem;
  width: 100%;
}

.gallery h2 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #fff;
}

.gallery .project {
  margin: 0 auto;
  width: 120%;
  margin-top: 5rem;
  margin-bottom: 17rem;
  border-radius: 15px;
}

.gallery .project-title {
  font-weight: 700;
  text-transform: lowercase;
  margin-bottom: 1.4rem;
  font-size: 1.725rem;
}

.gallery .project-img {
  max-width: 80%;
  border-radius: 15px;
  height: auto;
  transition: all 0.8 ease;
}

.gallery .project-text, .gallery .project-github, .gallery .project-link {
  font-size: 1.325rem;
  max-width: 80%;
  line-height: 2.5rem;
}

p.project-link {
  margin-top: 1rem;
  font-weight: 400;
}

iframe {
  display: none;
}

.mobile-enabled {
  display: block;
  position: relative;
  top: 10rem;
  left: 10rem;
}

p.mobile-enabled {
  color:#fff;
  font-weight: 500;
}

a.mobile-enabled {
  color:#faf5a1
}

}

@media only screen and (min-width: 816px) and (max-width: 1047px) {


}